<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/login/style.css}">
</head>
<body>

    <div class="login-header">
        <h1>ユーザー情報管理システム</h1>
    </div>
    
    <div class="login-title">
        <h2>ログイン</h2>
    </div>
    
    <p class="err" th:if="${param.error}">ユーザ名かパスワードが一致しませんでした。</p>
    
    <div class="login-content">
        <form method="post" action="/login" th:action="@{/login}" class="login-form">
            <div>
                <input type="text" id="username" name="username" placeholder="ユーザ名">
            </div>
			<div>
			    <input type="text" id="password" name="password" placeholder="パスワード">
			</div>
			<div>
			    <input type="submit" name="loginRun" value="ログイン" class="submit-btn">
			</div>
			
        </form>
    </div>

</body>
</html>